::ng-deep .first-panel .p-accordioncontent-content {
    height: 40vh;
}

::ng-deep .second-panel .p-accordioncontent-content {
    height: 60vh;
}

.flexCol{
    display: flex;
    flex-direction: column;
    width: 150px;
}
input{
    padding: 5px;
}
p-imagecompare{
    height: 50vh;
    width: 25vw;
    display: block;
}
.flexNorm{
    display: flex;
    justify-content: space-around;
}