.cardDetails{
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2{
        margin: 0;
    }
    backdrop-filter: blur(10px);
    p-toolbar{
        position: absolute;
        left: 0%;
        bottom: -20%;
    }
}
