.cardDetails{
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2{
        margin: 0;
    }
    backdrop-filter: blur(10px);
    p-toolbar{
        position: fixed;
        left: 0;
        bottom: 0;
    }
}
